# Privy
NEXT_PUBLIC_PRIVY_APP_ID=your-privy-app-id
NEXT_PUBLIC_PRIVY_AUTH_KEY_ID=your-privy-auth-key-id
NEXT_PUBLIC_PRIVY_POLICY_ID=your-privy-policy-id

# Backstop contracts
NEXT_PUBLIC_BACKSTOP_APP_ADDRESS=0xc258e902262e6110b2dd0d267a6b2ab2e470b539
NEXT_PUBLIC_QUOTE_REGISTRY_ADDRESS=0xe39e8eC1e77bc9F9E36e552105362F9D5BEe0F95
NEXT_PUBLIC_AQUA_REGISTRY_ADDRESS=0x1111113CCf1426A8E30e2bfF5E005d929bF6a90a
NEXT_PUBLIC_ALLOWED_ADDRESS=

# Tokens (Sepolia)
NEXT_PUBLIC_USDC_ADDRESS=0x94a9D9AC8a22534E3FaCa9F4e7F2E2cf85d5E4C8
NEXT_PUBLIC_WETH_ADDRESS=0xC558DBdd856501FCd9aaF1E62eae57A9F0629a3c

# RPC
NEXT_PUBLIC_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_CHAIN_ID=11155111

# Aave V3 Sepolia
NEXT_PUBLIC_AAVE_POOL_ADDRESS=0x6Ae43d3271ff6888e7Fc43Fd7321a503ff738951
NEXT_PUBLIC_AAVE_ORACLE=0x2da88497588bf89281816106C7259e31AF45a663
NEXT_PUBLIC_AAVE_USDC_ADDRESS=0x94a9D9AC8a22534E3FaCa9F4e7F2E2cf85d5E4C8
NEXT_PUBLIC_AAVE_WETH_ADDRESS=0xC558DBdd856501FCd9aaF1E62eae57A9F0629a3c
